<%= form_for @userArticle, url: user_index_path do |f| %>
 
  <div class="field input-field">
    <%= f.label :title, :class => 'active' %>
    <%= f.text_field :title %>
  </div>　
 
  <div class="field input-field">
    <%= f.label :address, :class => 'active' %>
    <%= f.text_field :address %>
  </div>

  <%= f.hidden_field :user_id, :value => current_user.id %>
 
  <div class="actions">
    <%= f.submit "Registration", :class => 'btn-large waves-effect waves-light' %>
  </div>
<% end %>